@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Places</h1>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Register to enter your place</h2>
    </div>
</div>